<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/resume/">Resume</a></li>
    <li><a href="/education/">Education</a></li>
    <li><a href="/experience/">Experience</a></li>
    <li><a href="/skill/">Skill</a></li>
    <li><a href="/resume/view">Resume</a></li>
</ul>

<h2>Skills</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    <tr th:each="skill : ${skills}">
        <td th:text="${skill.title}"></td>
        <td th:text="${skill.rating}"></td>
        <td>
            <a th:href="@{/skill/update/{id}(id=${skill.id})}">Update</a> -
            <a th:href="@{/skill/delete/{id}(id=${skill.id})}">Delete</a>
        </td>
    </tr>
    <a th:href="@{/skill/add}">Create</a>
</table>
</body>
</html>