<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/resume/">Resume</a></li>
    <li><a href="/education/">Education</a></li>
    <li><a href="/experience/">Experience</a></li>
    <li><a href="/skill/">Skill</a></li>
</ul>

<h2>Education</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Major</th>
        <th>School Name</th>
        <th>Graduation Date</th>
    </tr>
    <tr th:each="education : ${educations}">
        <td th:text="${education.title}"></td>
        <td th:text="${education.major}"></td>
        <td th:text="${education.schoolName}"></td>
        <td th:text="${education.graduationDate}"></td>
        <td>
            <a th:href="@{/education/update/{id}(id=${education.id})}">Update</a> -
            <a th:href="@{/education/delete/{id}(id=${education.id})}">Delete</a>
        </td>
    </tr>
    <a th:href="@{/education/add}">Create</a>
</table>
</body>
</html>